<div class-"coloumn1">
<h1 align="center">* WELCOME TO FASHION HUB *</h1>
</div>
<div class="w3-bar w3-red">
<a href="index" class="w3-bar-item w3-button">HOME</a>
   <div class="w3-dropdown-hover">
     <button class="w3-button">COSTUMES</button>
     <div class="w3-dropdown-content w3-bar-block w3-card-4">
       <a href="partywear" class="w3-bar-item w3-button">Party Wear</a>
       <a href="fancywear" class="w3-bar-item w3-button">Fancy Wear</a>
       <a href="bridalwear" class="w3-bar-item w3-button">Bridal Wear</a> 
       <a href="westernwear" class="w3-bar-item w3-button">Western Wear</a>
       <a href="winterwear" class="w3-bar-item w3-button">Winter Wear</a>
     </div>
   </div>


<a href="login" class="w3-bar-item w3-button">LOGIN</a>
<a href="signup" class="w3-bar-item w3-button">SIGNUP</a>
<a href="about" class="w3-bar-item w3-button">ABOUT</a>
<a href="contact" class="w3-bar-item w3-button">CONTACT US</a>

</div>
<style>
body  {
  background-image: url("clotheslibrary-logo.jpg");
  background-color: #cccccc;
}
</style>



