<div class="about-section">
  <h2 >About Fashion Hub</h2>
  <p>Fashion Hub is a designing house of the most fabulous fashion apparels to enhance the beauty of Gods’ beautiful creation “Woman”. We design an exclusive collection of Indian Ethnic Wear,Wedding Collections,Party Wear and all kinds of costumes especially designed for women.Women’s World is a popular brand in the market, offering a wide range of women Indian Ethnic Fashion apparels, exclusively designs for casual, party and wedding. We are dedicated to new and creative ideas in our Product offering. We will continue to develop our unique positioning to maintain and grow our unyielding, brand recognition and to adhere to the highest quality design standards.They can directly visit our showroom to buy/rent clothes from our showroom.</p>
  
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Johnson</h2>
        <p class="title">CEO & Founder</p>
        <p>jhonson123@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Amelia</h2>
        <p class="title">Designer</p>
        <p>amelia56@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Inesh</h2>
        <p class="title">Designer</p>
        <p>Exploring new styles is my passion.</p>
        <p>inesh875@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>